*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.demoApp {
  height: 100dvh;
  width: 100dvw;
  position: relative;
}

.bg {
  height: 100%;
    width: 100%;
  position: absolute;
  background-image: url('https://res.cloudinary.com/dx509y2cu/image/upload/v1731790843/magicPillDemoAppBG_v86cyy.png');
  background-size: 120%; /* Zoom initial */
  background-repeat: no-repeat; /* Pas de répétition */
  background-position: center;
  animation: zoomRotateMove 10s ease-in-out infinite alternate;
}

@keyframes zoomRotateMove {
  0% {
    background-size: 120%; /* Zoom initial */
    background-position: center;
  }
  50% {
    background-size: 125%; /* Zoom progressif */
    background-position: top right; /* Déplace vers le haut et à droite */
  }
  100% {
    background-size: 120%; /* Retour au zoom initial */
    background-position: bottom left; /* Retour vers le bas et à gauche */
  }
}