@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: #141414;
  --light: #F9F9F9;
  --demoH2Size: 31.4px;
  --demoh2Weight: 900;
  --demoH2Style: italic;
  --demoH2Font: "Overlock", sans-serif;
  --demoTextSize: 19.4px;
  --demoTextFont: "Lexend", sans-serif;
}

main {
  height: 100dvh;
  width: 100dvw;
  position: relative;
  padding: 50px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  >.bg {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('https://res.cloudinary.com/dx509y2cu/image/upload/v1731790843/magicPillDemoAppBG_v86cyy.png');
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: top;
    animation: zoomRotateMove 120s linear infinite;
  }

  >.tile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
    gap: 15px;
    background-color: #14141433;
    box-shadow: -2px -2px 3.8px #f9f9f926, 2px 2px 0px #f9f9f940, 0px 2px 15px #14141433;
    border-radius: 10px;
    opacity: 0;
    color: var(--dark);

    >* {
      height: min-content;
    }

    >.title {
      font-size: var(--demoH2Size);
      font-weight: var(--demoh2Weight);
      font-style: var(--demoH2Style);
      font-family: var(--demoH2Font);
    }

    >.subtitle {
      font-size: var(--demoTextSize);
      font-weight: var(--demoh2Weight);
      font-family: var(--demoTextFont);
    }

    >.radioSelection {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      >p,
      label,
      input {
        padding: 10px;
        border-radius: 100px;
        background-color: #14141433;
        height: min-content;
        width: max-content;
        font-size: var(--demoTextSize);
        font-weight: 600;
        font-family: var(--demoTextFont);
        color: var(--light);
      }

      >label,
      input {
        cursor: pointer;
        background-color: var(--light);
        color: var(--dark);
        transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
      }

      >label:has(:checked) {
        background-color: var(--dark);
        color: var(--light);
      }

      >input {
        width: fit-content;
        border: transparent;
      }

      >input:active,
      input:focus {
        color: #141414;
      }
    }

    >.radioSelection.alt {
      >p {
        background-color: var(--light);
        color: var(--dark);
      }
    }
  }

  >.tile:nth-child(2) {
    animation: tileEntry 2000ms 500ms ease-in-out forwards;
  }

  >.tile:nth-child(3) {
    animation: tileEntry 2000ms 1500ms ease-in-out forwards;
  }

  >.tile:nth-child(4) {
    animation: tileEntry 2000ms 0ms ease-in-out forwards;
  }

  >.tile:nth-child(5) {
    animation: tileEntry 2000ms 750ms ease-in-out forwards;
  }

  >.tile:nth-child(7) {
    animation: tileEntry 2000ms 1000ms ease-in-out forwards;
  }

  >.tile:nth-child(8) {
    animation: tileEntry 2000ms 250ms ease-in-out forwards;
  }

  >.tile:nth-child(9) {
    animation: tileEntry 2000ms 175ms ease-in-out forwards;
    justify-content: center;
    align-items: center;

    >h3.title {
      font-size: calc(calc(var(--demoH2Size)* 1.618)*1.618);
      background: linear-gradient(to bottom right, #E4C1F9, #F3E6CA);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  >.tile:nth-child(10) {
    animation: tileEntry 2000ms 1250ms ease-in-out forwards;
  }

  >.tile:has(.magicPill) {
    background-color: transparent;
    position: relative;
    box-shadow: none;
    opacity: 1;

    >.magicPill {
      box-shadow: 0px 8px 8px #14141473;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    >.magicPill.active {
      height: 104.5px;
    }

    >.magicPill.out {
      animation: none;
      max-width: 1000px;
      opacity: 1;
      transition: none;

      >svg {
        max-width: calc(110px / 2);
        min-width: unset;
        width: unset;
      }
    }
  }
}

@keyframes zoomRotateMove {
  0% {
    background-size: 180%;
    background-position: top;
  }

  12.5% {
    background-size: 120%;
    background-position: center right;
  }

  25% {
    background-size: 140%;
    background-position: center;
  }

  37.5% {
    background-size: 120%;
    background-position: center left;
  }

  50% {
    background-size: 180%;
    background-position: bottom;
  }

  62.5% {
    background-size: 120%;
    background-position: center right;
  }

  75% {
    background-size: 140%;
    background-position: center;
  }

  87.5% {
    background-size: 120%;
    background-position: center left;
  }

  100% {
    background-size: 180%;
    background-position: top;
  }
}

@keyframes tileEntry {
  0% {
    opacity: 0;
    scale: 1000%;
  }

  20% {
    opacity: 0;
  }

  80% {
    scale: 95%;
  }

  90% {
    scale: 102%;
  }

  100% {
    opacity: 1;
    scale: 100%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --demoH2Size: calc(31.4px);
    --demoh2Weight: 900;
    --demoTextSize: calc(19.4px / 1.618);
  }

  main {
    padding: 20px;
    grid-template-columns: none;
    grid-template-rows: none;
    position: fixed;
    top: 50%;
    height: 50%;
    overflow: scroll;
    >.bg {
      position: fixed;
    animation: none;
    background-size: cover;
    border-radius: 15px;
    }
    >.tile:has(.magicPill) {
      position: unset;
      padding: 0;
      >.magicPill {
        top: 25%;
        position: fixed;
        padding: 10px;
        gap: 15px;
        >svg {
          max-width: calc(20px / 2) !important;
                margin-left: 5px;
        }
        >.message {
          font-size: calc(19.4px * 0.809);
          padding-left: 15px;
        }
        >.CTA {
          padding: 10px;
          max-width: 40px;
          min-width: 40px;
          >svg {
            min-width: calc(40px / 2);
            max-width: calc(40px / 2);
          }
          >span {
            display: none;
          }
        }
        >.info {
          gap: 15px;
          padding: 20px 15px 60px 20px;
          border-radius: 25px;
        }
      }
      >.magicPill:has(.info.active) {
        top: 40%;
      }
    }
  }
}